<body>
<div id="wrapper" class="container">
	<form action="index.php" method="post">
    	<fieldset>
    		<legend>Fill out the form to test out the validation</legend>
    		<div class="col">
	    		<label for="firstname">First name: <span>*</span></label>
	    		<input type="text" id="firstname" name="firstname">
	    		<label for="lastname">Last name: <span>*</span></label>
	    		<input type="text" id="lastname" name="lastname">
    		</div>
    		<div class="col">
	    		<label for="email">Email: <span>*</span></label>
	    		<input type="text" id="email" name="email">
	    		<label for="url">Website:</label>
	    		<input type="text" id="url" name="url">
    		</div>
    		<div class="col">
	    		<label for="pattern">2 digits followed by 3 letters: <span>*</span></label>
	    		<input type="text" id="pattern" name="pattern">
	    		<label for="minmax">Min. 3 characters, max. 10:</label>
	    		<input type="text" id="minmax" name="minmax">
    		</div>
    		<div class="clear">&nbsp;</div>
    	</fieldset>
		<input type="submit" name="btnSubmit">
    </form>
    <div id="push">&nbsp;</div>
</div>
<div id="footer">
  <div class="container">
    <p class="muted credit">PHP Form Validator by <a href="http://martinbean.co.uk">Sabatino Masala</a></p>
  </div>
</div>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>